* {
  margin:0;
  padding:0;
  border:none;
  -webkit-user-select:none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: "Roboto", sans-serif;
}

body, h1, h2, h3, h4, h5, h6,
.tabs dd > a, .tabs .tab-title > a {
  font-family: "Roboto", sans-serif;
}

body {
  font: 28px/1em "Roboto";
  background: black url('../framer/background.png') repeat scroll top left;
}

h1 {
  font-weight: 100;
  font-size: 1em;
  margin-top: .6em;
  margin-bottom: 1em;
  margin-left: .5em;
}

h6 {
  text-align: right;
  margin-top: .45em;
}

h3 {
  font-size: .5em;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: .5em;
}

pre, code {
  font-size: .8em;
  line-height: .9em;
  font-weight: normal;
  color: #333;
  tab-size:2;
  -moz-tab-size: 2;
  -moz-user-select: -moz-text;
  -khtml-user-select: text;
  -webkit-user-select: none;
  -ms-user-select: text;
  user-select: text;
}

// textarea.snippet {
//   outline: none;
//   resize: none;
//   overflow: auto; 
//   height: 13em;
// }

#FramerRoot {
  margin-left: 50px;
}

.row.button-container {
  margin: 0;
  .button {
    background-color: rgba(#ccc, .3);
    position: absolute;
    top: 396px;
    left: 10px;
  }
}

.tabs {
  border-bottom: 2px solid #efefef;
  dd > a, .tab-title > a {
    font-size: .8em;
    font-weight: 500;
    padding: 10px 14px;
    background-color: #fefefe;
  }
  .tab-title.active > a {
    background-color: #efefef;
  }
  .active {

  }
}

.range-slider {
  margin: 0;
  margin-top: .4em;
  &.round .range-slider-handle {
    background-color: #60c4ff;
    &:hover {
      background-color: #26a4ee;
    }
  }
}

.control-container {
  background: #fefefe;
  min-height: 386px;
}

input[type="text"] {
  margin: 0 0 .3em 0;
}

// anything above mobile
@media only screen and (min-width: 40.063em) { 

}

// mobile, max width 640px
@media only screen and (max-width: 40em) { 

} 
