<?xml version="1.0" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>

    <key>CFBundleExecutable</key>
    <string>JavaAppLauncher</string>

    <key>CFBundleIconFile</key>
    <string></string>

    <key>CFBundleIdentifier</key>
    <string>com.jar2app.example.DropInMotion-Desktop</string>

    <key>CFBundleDisplayName</key>
    <string>DropInMotion-Desktop</string>

    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>

    <key>CFBundleName</key>
    <string>DropInMotion-Desktop</string>

    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSHighResolutionCapable</key>
    <string>True</string>

    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>

    <key>CFBundleSignature</key>
    <string>????</string>

    <key>CFBundleVersion</key>
    <string>1.0.0</string>

    <key>NSHumanReadableCopyright</key>
    <string></string>

    

    <key>JVMMainClassName</key>
    <string>org.progx.dropinmotion.demo.DropInMotionDemo</string>

    <key>JVMOptions</key>
    <array>
        <string>-Duser.dir=$APP_ROOT/Contents</string>
    </array>

    <key>JVMArguments</key>
    <array>

    </array>

    </dict>
</plist>
